.ProjectBlock{
    font: "Times New Roman";
    font-size: large;
}
.ProjectContainer{
    width: 1000px;
    margin: auto;

}
@media only screen and (max-width: 1000px) {
    .ProjectContainer{
        width: auto;
    }
    .pictures{
        margin: auto;
        width: 100%;
    }
    
    
}
.ProjectContentContainer{
    width: 1000px;
    margin: auto;
}
.pictures{
    margin: auto;
}

.portableText{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}