
.ProjectContainer{
    /* color: #1a1a1a;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 1.35em;
    margin: 0; */
    display: flex;
}

.ProjectContentContainer{
    width: 1000px;
    margin: auto;
}