

div.sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 100;
  background-color: white;
  height: 50px;
  justify-self: flex-start;
  
}

div.mainWrapper{
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.link{
  background-color: #0d3554;
  color: white;
}

.middle{
  height: 800px;
  margin: 20px;
}
.Wrapper{
  display: flex;
}
.Content{
  width: 1000px;
  margin: auto;
}

.Header{
  background-color: white;
  top: 0;
  position: fixed;
  width: 100%;
}